button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 0.3em;
    color: #222;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #222;
    color: #f2f2f2;
    font-weight: bold;
}

details {
    text-align: center;
}

details>summary {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    font-weight: bold;
    padding: 0 0.5em;
}

header,
main {
    max-width: 700px;
}
