button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 0.3em;
    color: #222;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #222;
    color: #f2f2f2;
    font-weight: bold;
}

div.tab {
    display: none;
    text-align: center;
}

img.flip {
    transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

input[type=number] {
    width: 45px;
}

.flex {
    flex: 1;
}

.flex-h {
    display: flex;
    flex-direction: row;
}
