button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 0.3em;
    color: #222;
    cursor: pointer;
    padding: 0.5ch;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: dodgerblue;
    color: #f2f2f2;
}

button.active {
    background-color: dodgerblue;
    color: #f2f2f2;
    font-weight: bold;
}

img.flip {
    transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

input[type=number] {
    width: 45px;
}

.desc {
    font-size: 75%;
    font-weight: bold;
    margin: auto;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1;
}

.tab {
    display: none;
    text-align: center;
}
